.editor {
    width: 100%;
    grid-template-rows: 1fr 9fr;
    padding: 20px;
}

.text-control button {
    height: 50px;
    width: 100%;
    margin: 5px;
    font-size: 150%;
}

.color {
    height: 50px;
    min-width: 50px;
    margin: 5px;
    font-size: 150%;
}

.meme-edit {
    flex-flow: column;
    padding: 20px;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .meme-edit {
        flex-flow: row;
    }

    canvas {
        width: 50%;
        height: 100%;
    }
}