.editor {
    width: 100%;
    grid-template-rows: 1fr 9fr;
    padding: 20px;
    background-color: gainsboro;
    border: 1px black solid;
    margin-top: 5px;
}

.text-control button {
    height: 50px;
    width: 100%;
    margin: 5px;
    font-size: 150%;
}

.aligin-button button {
    min-height: 50px;
}

.color {
    height: 50px;
    min-width: 50px;
    margin: 5px;
    font-size: 150%;
}

#text {
    font-size: 150%;
}

#font {
    height: 50px;
    margin: 5px;
    font-size: 150%;
}

.meme-edit {
    flex-flow: column;
    padding: 20px;
    margin-top: 20px;
}

.tooltip .tooltiptext {
    display: none;
}



@media (min-width: 800px) {
    .meme-edit {
        flex-flow: row;
    }

    canvas {
        width: 50%;
        height: 100%;
    }

    .editor {
        margin-left: 5px;
        margin-top: 0;

    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        display: block;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
}